@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div>
    <div class="col-md-3">
        <h2>Prime Numbers</h2>
        <table cellpadding="3" border="1">
            @{ var primes = (List<int>)ViewData["Primes"];
                for(int i = 0; i < primes.Count; i++)
                {
                    if(i%20 == 0)
                    {
                        WriteLiteral("<tr>");                        
                    }
                    WriteLiteral($"<td>{primes[i]}</td>");

                }
            }
        </table>
    </div>
    </div>
</div>

